<figure class="galeria">
	<img alt="TU POWINIEN BYĆ OBRAZEK" src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/cee-nordics/pl/support/support-v3/mobileservices/themes/themes-2.png"/>
	<figcaption>To jest jakiś interesujący obrazek...</figcaption>
</figure>
<figure class="galeria">
	<img alt="" src="./img/img2.jpg"/>
	<figcaption>To jest jakiś interesujący obrazek...</figcaption>
</figure>
