<!--<form method="post" action="./php/main.php">-->
<div id="form">
	<style>
		input[name="name"] {
			border-color: orange;
		}
	</style>
	<!--  Form  -->	
	<p><input type="text" name="name" placeholder="Podaj swoje imię"/></p>
	<p><input type="text" name="lastname" placeholder="Podaj swoje nazwisko"/></p>
	<p><input type="email" name="email" placeholder="Podaj swój email"/></p>
	<p><textarea name="content" placeholder="Wpisz treść"></textarea></p>
	<fieldset>
		<legend>Twoja płeć</legend>
		<p><input type="radio" name="sex" value="k"/><span>Kobieta</span></p>
		<p><input type="radio" name="sex" value="m"/><span>Mężczyzna</span></p>
		<p><input type="radio" name="sex" value="n" checked="checked"/><span>Nieokreślona</span></p>
	</fieldset>
	<!--  Submit button  -->
	<button>Wyślij zapytanie</button>
</div>
<div id="output">
	<!-- Tutaj wyświetlamy końcowe wyniki formularza -->
</div>

<!--</form>-->